<div class="slide_hbs_phu">
    <div class="slide__content_phu">
        <div class="text__des">ẨM THỰC</div> 
    </div>
</div>
<div class="row Service__body ">
    <div class="col-6">
        <p class="Service__des">TRẢI NGHIỆM GIÁC QUAN THÚ VỊ</p>
        <p class="Service__title">Nhà hàng sang trọng</p>
        <p class="Service__des2">
            Được dẫn dắt bởi Chef de Micheal Martin, Nhà hàng nổi tiếng nhờ ẩm thực tuyệt vời và không gian độc đáo.
             Phòng ăn tuyệt đẹp có ba bếp studio mở, cho phép bạn thưởng thức quang cảnh và âm thanh của nghệ thuật ẩm thực được trưng bày.
             Thực đơn thể hiện cả ảnh hưởng của châu Á và châu Âu.</p>
        <p class="Service__title2">Khung giờ</p>
        <div class="Service__form__frame__time">
            <div class="Service__form__icon"><i class="fa-regular fa-clock"></i></div>
            <div class="Service__form__content">
                <div class="Service__form__title">Bữa sáng:</div>
                <div class="Service__form__time">07:00 sáng – 11:00 trưa (hàng ngày)</div>
            </div>
        </div>
        <div class="Service__form__frame__time">
            <div class="Service__form__icon"><i class="fa-regular fa-clock"></i></i></div>
            <div class="Service__form__content">
                <div class="Service__form__title">Bữa trưa:</div>
                <div class="Service__form__time">12:00 trưa – 02:00 chiều (hàng ngày)</div>
            </div>
        </div>
        <div class="Service__form__frame__time">
            <div class="Service__form__icon"><i class="fa-regular fa-clock"></i></i></div>
            <div class="Service__form__content">
                <div class="Service__form__title">Bữa tối:</div>
                <div class="Service__form__time">05:00 chiều – 09:00 tối (hàng ngày)</div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="carousel slide" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="\img\Dichvu\anh1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="\img\Dichvu\anh2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="\img\Dichvu\anh3.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="\img\Dichvu\anh4.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="\img\Dichvu\anh5.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="\img\Dichvu\anh6.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tabs_monan">
    <nav class="tabs_monan_form">
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-steak-tab" data-toggle="tab" data-target="#nav-steak" type="button" role="tab" aria-controls="nav-steak" aria-selected="true">STEAK</button>
            <button class="nav-link" id="nav-soup-tab" data-toggle="tab" data-target="#nav-soup" type="button" role="tab" aria-controls="nav-soup" aria-selected="false">SOUP</button>
            <button class="nav-link" id="nav-seafood-tab" data-toggle="tab" data-target="#nav-seafood" type="button" role="tab" aria-controls="nav-seafood" aria-selected="false">SEAFOOD</button>
            <button class="nav-link" id="nav-pizza-tab" data-toggle="tab" data-target="#nav-pizza" type="button" role="tab" aria-controls="nav-pizza" aria-selected="false">PIZZA</button>
            <button class="nav-link" id="nav-salad-tab" data-toggle="tab" data-target="#nav-salad" type="button" role="tab" aria-controls="nav-salad" aria-selected="false">SALAD</button>
            <button class="nav-link" id="nav-rice-tab" data-toggle="tab" data-target="#nav-rice" type="button" role="tab" aria-controls="nav-rice" aria-selected="false">RICE</button>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-steak" role="tabpanel" aria-labelledby="nav-steak-tab">
            <div class="row">
               {{#each DishesByCategory.STEAK}}
                    <div class="col-6 serive__dish__form">
                        <div class="serive__dish__img">
                            <img src="{{this.img}}" alt="">
                        </div>
                        <div class="serive__dish__content">
                            <div class="serive__dish__title">{{this.name}}</div>
                            <div class="serive__dish__des">{{this.description}}</div>
                            <div class="serive__dish__price">{{money this.price}} VNĐ</div>
                        </div>
                    </div>
                {{/each}}
            </div>
            
        </div>
        <div class="tab-pane fade" id="nav-soup" role="tabpanel" aria-labelledby="nav-soup-tab">
             <div class="row">
               {{#each DishesByCategory.SOUP}}
                    <div class="col-6 serive__dish__form">
                        <div class="serive__dish__img">
                            <img src="{{this.img}}" alt="">
                        </div>
                        <div class="serive__dish__content">
                            <div class="serive__dish__title">{{this.name}}</div>
                            <div class="serive__dish__des">{{this.description}}</div>
                            <div class="serive__dish__price">{{money this.price}} VNĐ</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="tab-pane fade" id="nav-seafood" role="tabpanel" aria-labelledby="nav-seafood-tab">
             <div class="row">
               {{#each DishesByCategory.SEAFOOD}}
                    <div class="col-6 serive__dish__form">
                        <div class="serive__dish__img">
                            <img src="{{this.img}}" alt="">
                        </div>
                        <div class="serive__dish__content">
                            <div class="serive__dish__title">{{this.name}}</div>
                            <div class="serive__dish__des">{{this.description}}</div>
                            <div class="serive__dish__price">{{money this.price}} VNĐ</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="tab-pane fade" id="nav-pizza" role="tabpanel" aria-labelledby="nav-pizza-tab">
             <div class="row">
               {{#each DishesByCategory.PIZZA}}
                    <div class="col-6 serive__dish__form">
                        <div class="serive__dish__img">
                            <img src="{{this.img}}" alt="">
                        </div>
                        <div class="serive__dish__content">
                            <div class="serive__dish__title">{{this.name}}</div>
                            <div class="serive__dish__des">{{this.description}}</div>
                            <div class="serive__dish__price">{{money this.price}} VNĐ</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="tab-pane fade" id="nav-salad" role="tabpanel" aria-labelledby="nav-salad-tab">
             <div class="row">
               {{#each DishesByCategory.SALAD}}
                    <div class="col-6 serive__dish__form">
                        <div class="serive__dish__img">
                            <img src="{{this.img}}" alt="">
                        </div>
                        <div class="serive__dish__content">
                            <div class="serive__dish__title">{{this.name}}</div>
                            <div class="serive__dish__des">{{this.description}}</div>
                            <div class="serive__dish__price">{{money this.price}} VNĐ</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="tab-pane fade" id="nav-rice" role="tabpanel" aria-labelledby="nav-rice-tab">
             <div class="row">
               {{#each DishesByCategory.RICE}}
                    <div class="col-6 serive__dish__form">
                        <div class="serive__dish__img">
                            <img src="{{this.img}}" alt="">
                        </div>
                        <div class="serive__dish__content">
                            <div class="serive__dish__title">{{this.name}}</div>
                            <div class="serive__dish__des">{{this.description}}</div>
                            <div class="serive__dish__price">{{money this.price}} VNĐ</div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

