  <div class="row manage_body">
    <div class="col-2" style="padding-right: 0;margin-top: 118px;">
         <form class="form__sreach" method="GET" action="/manage/quan_li_phieuthue">
            <p class="lable__search">Tìm kiếm</p>  
            <input class="input__serach" name="q" type="search" placeholder="Nhập tên khách hàng" value="{{searchQuery}}">
            <input class="input__serach" name="q1" type="search" placeholder="Nhập số điện thoại" value="{{searchPhone}}">
            <button class="btn btn-primary  form__sreach__btn" style="margin-top: 0;">Lọc thông tin</button>       
        </form>
    </div>
    <div class="col-10">
        <form class="form_quanliphong" name="submit_request_delete" method="POST" action="/courses/handle-form-actions">

            <h2>Danh sách phiếu thuê</h2>
            {{!-- {{#if deletedCount}} --}}
            <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
            {{!-- {{/if}} --}}
            <div class="mt-4 d-flex form_ChonXoa">
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                Chọn tất cả
                </label>
                </div> 

                <select class="form-control checkbox_all" name="action" required>
                    <option value="">-- Chọn hành động --</option>
                    <option value="delete">Xóa</option>  
                </select>

                <button class="btn btn-primary btn-exec disabled">Thực hiện</button>
                <a class="btn form_quanliphong__btn__them" href="/manage/quan_li_dichvu/crud/show_create">Thêm dịch vụ</a>
            </div>
            <div style="overflow-x: auto; white-space: nowrap;"> 
                <table class="table mt-4" style="min-width: 1200px;">
                    <thead>
                        <tr> 
                            <th scope="col">#</th>
                            <th scope="col">STT</th>
                            <th scope="col">Phòng</th>
                            <th scope="col">Khách hàng</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Ngày đặt</th> 
                            <th scope="col">ngày trả</th>   
                            <th scope="col">Tổng tiền</th>     
                                                 
                            <th scope="col" colspan="3"></th>         
                        </tr>
                    </thead>
                    <tbody>
                        {{#each Bookings}}
                        <tr>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" name="courseIds[]" type="checkbox" value="{{this._id}}" >
                                </div> 
                            </td>
                            <th scope="row">{{sum @index 1}}</th>
                            <td>{{this.roomNumber}}</td>
                            <td>{{this.customer.fullName}}</td>
                            <td>{{this.customer.phone}}</td>
                            <td>{{Date this.checkInDate}}</td>
                            <td>{{Date this.checkOutDate}}</td>
                            <td>{{money this.totalAmount}} VNĐ</td>

                            <td>
                                <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapse-{{@index}}" aria-expanded="false" aria-controls="collapse-{{@index}}">
                                    Chi tiết
                                </button>
                            </td>
                            <td><a href="/manage/quan_li_phong/crud/{{this._id}}/show_update" class="btn btn-link">Sửa</a></td>
                            <td><a href="" class="btn btn-link"  data-toggle="modal" data-id="{{this._id}}" data-target="#exampleModal">Xóa</a></td>              
                        </tr>
  
                        <tr class="collapse" id="collapse-{{@index}}">
                            <td colspan="100%">
                                <div class="p-3 text-left" style="background-color: #f8f9fa; border: 1px solid #dee2e6; border-radius: 0.25rem;">
                                <p><strong>Người lớn:</strong> {{this.nguoiLon}}</p>
                                <p><strong>Trẻ em:</strong> {{this.treEm}}</p>
                                 <p><strong>Dịch vụ đã sử dụng:</strong></p>
                                 <ul>
                                        {{#each this.services}}
                                        <li>{{this.service.name}} (SL: {{this.quantity}} × {{money this.price}} VNĐ)</li>
                                        {{/each}}
                                 </ul>
                                
                                <p><strong>Tiền dịch vụ:</strong> {{money this.totalServiceCost}} VNĐ</p>
                                <p><strong>Tiền phòng:</strong> {{money this.totalRoomCost}} VNĐ</p>
                                <ul>                                   
                                    <li>Số ngày: {{this.soNgay}} × {{money this.roomPrice}} VNĐ</li>                                   
                                </ul>
                                </div>
                            </td>
                        </tr>
                    
                        {{else}}
                        <tr>
                            <td colspan="5" class="text-center">
                            Bạn chưa có phòng nào.
                            <a href="/manage/quan_li_phong/create" >Thêm Dịch vụ</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            
        </form> 
    </div>
  </div>  


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Xóa Phòng</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <h5 class="modal-title" id="exampleModalLabel">Bạn xác nhận muốn xóa chứ ?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button id="btn-id-delete" type="button" class="btn btn-danger" >Xóa</button>       
        </div>
      </div>
    </div>
  </div>

  

<form name="delete-course-form" method="POST" ></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var courseId;
        var deleteForm = document.forms['delete-course-form']
        var btnDeleteCourse = document.getElementById('btn-id-delete')
        var submitForm = document.forms['submit_request_delete']
        var checkBoxAll = $('#checkbox-all')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var bthExec = $('.btn-exec')


        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) 
            courseId = button.data('id') 
        })

        btnDeleteCourse.onclick = function(){
            deleteForm.action = '/manage/quan_li_phong/crud/' + courseId + '/delete?_method=DELETE';
            deleteForm.submit()
        }
        
        //check box all change
        checkBoxAll.change(function(){
          var isChecked = $(this).prop('checked');

          if(isChecked){
            courseItemCheckbox.prop('checked', true)
          }else{
            courseItemCheckbox.prop('checked', false)
          }
          renderCheckAllSubmitBtn()
        })

        //Course item checkbox
        courseItemCheckbox.change(function(){
          var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
          if(isCheckedAll){
            checkBoxAll.prop('checked', true)
          }else{
             checkBoxAll.prop('checked', false)
          }
          renderCheckAllSubmitBtn()
        })

        //check btn submit click

        bthExec.on('submit', function(e){
          var isSubmitable = !$(this).hasClass('disabled')
          if(!isSubmitable){
             e.preventDefault();
          }
        })

        function renderCheckAllSubmitBtn() {
          var checkedCount = $('input[name="courseIds[]"]:checked').length;
        
         if(checkedCount > 0){
              bthExec.removeClass('disabled')
          }else{
              bthExec.addClass('disabled')
          }
          
        }
    })
   
</script>


