<div class="container RoomDetail">
    <div class="row" style="margin-top: 70px;">
        <img class="RoomDetail_img" src="{{Room.img}}" alt="">
    </div>
    <div class="row RoomDetail__body">
        <div class="col-8 RoomDetail__body__cot1">
            <p class="RoomDetail_title">Phòng: {{Room.roomNumber}} - {{Room.roomType.name}}</p>
            <p class="RoomDetail_des">
                {{Room.roomType.description}}
            </p>
            <ul class="RoomDetail__tienich__list" style="margin-top: 20px;">   
                    <li class="RoomDetail__tienich__item">
                        <i class="fa-solid fa-bed RoomDetail__tienich__icon "></i> 
                        <p class="RoomDetail__tienich__name">{{Room.bedType.name}}</p> 
                    </li>        
                    <li class="RoomDetail__tienich__item">
                        <i class="bx  bx-area RoomDetail__tienich__icon Libary_icon"></i> 
                        <p class="RoomDetail__tienich__name">Phòng {{{m2 Room.area}}}</p> 
                    </li>                     
            </ul>
            <p class="RoomDetail_title">Tiện nghi</p>
            <ul class="RoomDetail__tienich__list">
                {{#each Room.roomType.utilities}}
                    <li class="RoomDetail__tienich__item">
                    <i class="{{this.icon}} RoomDetail__tienich__icon"></i> 
                    <p class="RoomDetail__tienich__name">{{this.name}}</p> 
                    </li> 
                {{/each}}
            </ul>
        </div>
    
        <div class="col-4" style="padding: 0 0 0 20px;">
            <div class="RoomDetail__booking" >
                    <p class="RoomDetail__booking_title ">{{money Room.roomType.price}} VNĐ/ ĐÊM</p>
                    <div class="RoomDetail__booking__form">
                         {{!-- <p>
                             <div class="RoomDetail__booking__content">
                                <div class="RoomDetail__booking__des">Ngày đến</div>
                                <input type="date" id="ngayDen" class="form-control  RoomDetail__booking__input">               
                            </div>
                            <div class="RoomDetail__booking__content">
                                <div class="RoomDetail__booking__des">Ngày đi</div>
                                <input type="date" id="ngayDi" class="form-control RoomDetail__booking__input" >
                            </div>
                            <div class="RoomDetail__booking__content">
                                <div class="RoomDetail__booking__des">Người lớn </div>
                                <select class="custom-select RoomDetail__booking__input" id="selectNguoiLon">
                                    <option selected>Chọn (Có thể bỏ qua)</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <div class="RoomDetail__booking__content">
                                <div class="RoomDetail__booking__des">Trẻ em</div>
                                <select class="custom-select RoomDetail__booking__input" id="selectTreEm">
                                    <option selected>Chọn (Có thể bỏ qua)</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                         </p> --}}
                         
                        <button type="button" class="btn RoomDetail__booking__btn js-show-room-calendar-modal"
                                data-room-id="{{Room._id}}"
                                data-room-number="{{Room.roomNumber}}"
                                data-room-price="{{Room.roomType.price}}"> {{!-- Thêm data-room-price --}}
                            Xem Lịch & Đặt Phòng
                        </button>
                    </div>
                        
                          
            </div>
        </div>
    </div> 
    <div class=" row "> 
        <p class="RoomDetail_title">Phòng liên quan</p>   
        <p class="RoomDetail_title" style="margin-left: 525px;" >Hạng phòng khác</p>   
    </div>
    <div class=" row "> 
        <div class="col-8 RoomDetail__relate" >
            <div class="row RoomDetail__relate__body">
                 {{#each RelatedRooms}}              
                    <div class="card RoomDetail__relate__card">
                        <div class="RoomDetail__relate__img" style="background:url({{this.img}}) center/cover no-repeat;">
                            <p class="phu__room__img__price color__price_phong">{{money this.price}} VNĐ/ĐÊM</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title phu__room__type">{{this.roomType.name}}</h5>
                            <p class="phu__room__name">Phòng: {{this.roomNumber}}</p>
                            <p class="phu__room__title">
                                <i class="fa-solid fa-bed"></i> {{this.bedType.name}} -
                                <i class="bx bx-area Chinh_icon_area"></i> {{{m2 this.area}}}
                            </p>
                            <a href="/hangphong/room/{{this.roomNumber}}" class="btn phu__room__cart__btn">Chi tiết</a>
                        </div>
                        {{#if (eqString this.status 'Đã đặt')}}
                            <div class="phu__room__status phu__room__status--booked" style="font-size: 1.2rem;">
                                <i class="fa-solid fa-xmark phu__room__status__icon" style="font-size: 1.2rem;"></i></i> {{this.status}}
                            </div> 

                        {{else}}
                            <div class="phu__room__status phu__room__status" style="font-size: 1.2rem;">
                                <i class="fa-light fa-check phu__room__status__icon" style="font-size: 1.2rem;"></i></i> {{this.status}}
                            </div>
                        {{/if}}  
                    </div>  
                           
                {{/each}}
            </div>
           
            <a href="/hangphong/{{Room.roomType._id}}/rooms" class="RoomDetail__relate__name" style="display: block;">Xem tất cả.....</a>
        </div>
        <div class="col-4">
            <div class="RoomDetail__roomtype">
                <ul class="RoomDetail__roomtype__list" style="margin-bottom: 0;">
                   {{#each RoomTypes}}
                        {{#unless (eq this._id ../currentRoomTypeId)}}
                            <li class="RoomDetail__roomtype__item">
                                <a href="/hangphong/{{this._id}}/rooms" class="RoomDetail__roomtype__item__link">
                                    <img class="RoomDetail__roomtype__item__img" src="{{this.img}}" alt="">
                                    <div class="RoomDetail__roomtype__item__content">
                                    <div class="RoomDetail__roomtype__item__title">{{this.name}}</div>
                                    <div class="RoomDetail__roomtype__item__price">{{money this.price}} VNĐ</div>
                                    </div>
                                </a>
                            </li>
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        
    </div>
    <div class="RoomDetail__realte_"></div>
</div>

<div class="modal fade" id="roomCalendarModal" tabindex="-1" role="dialog" aria-labelledby="roomCalendarModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="roomCalendarModalLabel">Lịch Trống - Phòng {{Room.roomNumber}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{!-- Nút chuyển tháng --}}
        <div class="d-flex justify-content-between mb-3 calendar-nav">
            <button class="btn btn-sm btn-outline-secondary js-prev-month">&lt; Tháng Trước</button>
            <h5 class="calendar-month-year"></h5>
            <button class="btn btn-sm btn-outline-secondary js-next-month">Tháng Sau &gt;</button>
        </div>
         {{!-- Div để JavaScript vẽ lịch vào --}}
        <div id="room-calendar-container" class="table-responsive">
            {{!-- Lịch sẽ được tạo ở đây bằng JS --}}
        </div>
         {{!-- Chú thích --}}
         <div class="mt-3 d-flex justify-content-end">
             <span class="mr-3"><span class="legend-color legend-available"></span> Còn trống</span>
             <span class="mr-3"><span class="legend-color legend-past"></span> Quá khứ</span>
             <span class="mr-3"><span class="legend-color legend-booked"></span> Đã đặt</span>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="modal__booking js-modal__booking" >
    <div class="modal__booking__container" style="overflow-y: auto; overflow-x: hidden">
        <div class="modal__booking__close">
            <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="modal__booking__header">BOOKING</div>
        <input type="hidden" id="roomId" value="{{Room._id}}">
        <div class="modal__booking__title">Phòng {{Room.roomNumber}}</div>
        <div class="row modal__booking__contet">
            <div class="col-6">
                 <div class="modal__booking__body">
                    <label for="" class="modal__booking__label">Nhận phòng</label>
                    <input type="Date" id="checkInDate"  class="modal__booking__input" placeholder="">
                </div>
                <div class="modal__booking__body">
                    <label for="" class="modal__booking__label">Người lớn <span>(Có thể bỏ qua)</span></label>
                    <select class="custom-select modal__booking__input" id="modalNguoiLon">
                        <option selected>Choose...</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <div class="modal__booking__body">
                    <label for=""  class="modal__booking__label">Trả phòng</label>
                    <input type="Date" id="checkOutDate" class="modal__booking__input" placeholder="">
                </div>
                <div class="modal__booking__body">
                    <label for="" class="modal__booking__label">Trẻ em <span>(Có thể bỏ qua)</span></label>
                    <select class="custom-select modal__booking__input" id="modalTreEm">
                            <option selected>Choose...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal__booking__title">Thông tin khách hàng</div>
        <div class="row modal__booking__contet">
            <div class="col-6">
                 <div class="modal__booking__body">
                    <label for="" class="modal__booking__label">Họ và tên</label>
                    <input type="Text" id="fullName" class="modal__booking__input" placeholder="" value="{{user.fullName}}">
                </div>
                <div class="modal__booking__body">
                    <label for="" class="modal__booking__label">Số điện thoại</label>
                    <input type="Text" id="phone" class="modal__booking__input" placeholder="" value="{{user.phone}}">
                </div>
            </div>
            <div class="col-6">
                <div class="modal__booking__body">
                    <label for="" class="modal__booking__label">Email</label>
                    <input type="Text" id="email" class="modal__booking__input" placeholder="" value="{{user.email}}">
                </div> 
                <a class="btn modal__booking__chooseService" data-toggle="collapse" href="#serviceCollapse" role="button" aria-expanded="false" aria-controls="serviceCollapse">
                Chọn dịch vụ
                </a>              
            </div>                 
        </div>
        <div class="modal__booking__title" style="display: inline;">Giá cả</div>
        <div class="modal__booking__contet__des" style="display: inline;">
            Tạm tính tổng số tiền khi trả phòng (nếu không sử dụng thêm dịch vụ gì), sẽ trừ cọc sau 
        </div>
        <div class="row modal__booking__contet" style="margin-top: 10px;">
            <div class="col-6">  
                <div class="modal__booking__label">Số ngày: <b class="color__price" id="soNgay">0</b></div>
                <div class="modal__booking__label">Tiền phòng: <b class="color__price" id="tienPhong">0</b> VNĐ</div>
                <div class="modal__booking__label">Tiền dịch vụ: <b class="color__price" id="tienDichVu">0</b> VNĐ</div>
                <div class="modal__booking__label">Phụ thu (người lớn): <b class="color__price" id="tienPhuThu">0</b> VNĐ</div>
                <div class="modal__booking__label">Tổng tiền: <b class="color__price" id="tongTien">0</b> VNĐ</div>                 
                <a class="btn btn_tamtinh">Tạm tính</a>   
            </div>     
        </div>
         <div class="modal__booking__title">Thông tin Đặt cọc (20%)</div>
        <div class="row modal__booking__contet" style="align-items: center;">
            <div class="col-6">
                <p class="modal__booking__label">Số tiền cần cọc:</p>
                <p class="modal__booking__label color__price" style="font-size: 1.8rem;">
                    <span id="tienCoc" style="color__price">0</span> VNĐ
                </p>
                <p style="font-size: 1.2rem; color: #555;">(Vui lòng chuyển khoản đúng số tiền này)</p>
                <p style="font-size: 1.2rem; color: #555;">Nội dung chuyển khoản: <br>
                    <b id="noiDungCK" style="color: red;">DP [Số điện thoại]</b>
                </p>
            </div>
            <div class="col-6 text-center">
                {{!-- === ĐÂY LÀ CHỖ ĐỂ ẢNH MÃ QR CỦA BẠN === --}}
                <img id="qrCodeImage" src="/img/qr.png" alt="Mã QR VietQR" style="max-width: 150px; height: auto;">
                <p style="font-size: 1.2rem; color: #555; margin-top: 5px;">Quét mã VietQR để thanh toán</p>
            </div>
        </div>
        <div class="modal__booking__frame__btn">
            <button type="button submit" class="btn modal__booking__btn">ĐẶT PHÒNG NGAY</button>   
        </div>

        
             
    </div>
    <div class="collapse mt-2 modal__booking__service" id="serviceCollapse" style="overflow-y: auto; overflow-x: hidden">
        {{#each Services}}
        <div class="modal__booking__service__form" >
            <label class="modal__booking__service__lable" style="min-width: 100px;">{{this.name}}:</label>
            <div class="modal__booking__service__form1">
                <input type="number" name="{{this._id}}" min="0" value="0" class="form-control modal__booking__service__input"  data-price="{{this.price}}">
                <span class="modal__booking__service__price ">{{money this.price}} VNĐ/&nbsp</span> 
                <span style="font-size: 1.4rem;"> {{this.unit}}</span>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{!--  Vẽ lịch --}}
<script>
    // --- KHAI BÁO BIẾN TOÀN CỤC ---
    // Phải đặt các hằng số này ở ngoài để tất cả các hàm đều có thể truy cập
    const SURCHARGE_PER_EXTRA_ADULT = 100000;
    const ROOM_TYPE_MAX_ADULTS = {{ Room.roomType.maxAdults }};
    const ROOM_PRICE_PER_NIGHT = {{ Room.roomType.price }};
    // (Đảm bảo controller Chi_Tiet_Phong đã populate('roomType') 
    //  và roomType có trường maxAdults và price)


    // --- HÀM VẼ LỊCH ---
    function renderRoomCalendar(containerId, year, month, availability = []) {
        const container = document.getElementById(containerId);
        if (!container) return;
        const monthMoment = moment({ year: year, month: month - 1 });
        const daysInMonth = monthMoment.daysInMonth();
        const firstDayOfMonth = monthMoment.startOf('month').day();
        let calendarHTML = `<table class="table table-bordered table-calendar"><thead><tr>`;
        const weekdays = ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'];
        weekdays.forEach(day => calendarHTML += `<th class="day-header"><small>${day}</small></th>`);
        calendarHTML += `</tr></thead><tbody><tr>`;
        for (let i = 0; i < firstDayOfMonth; i++) {
            calendarHTML += `<td class="empty-cell"></td>`;
        }
        let dayCounter = 1;
        for (let i = firstDayOfMonth; i < 7; i++) {
            if (dayCounter > daysInMonth) break;
            const dayData = availability.find(d => d.date === moment({ year: year, month: month - 1, date: dayCounter }).format('YYYY-MM-DD')) || { status: 'past' };
            const canClick = dayData.status === 'available';
            calendarHTML += `<td class="day-cell status-${dayData.status} ${canClick ? 'js-calendar-select-date' : ''}" data-date="${dayData.date}" title="${dayData.status === 'available' ? 'Chọn ngày ' + dayCounter : (dayData.status === 'booked' ? 'Đã đặt' : 'Quá khứ')}">${dayCounter}</td>`;
            dayCounter++;
        }
        calendarHTML += `</tr>`;
        while (dayCounter <= daysInMonth) {
            calendarHTML += `<tr>`;
            for (let i = 0; i < 7 && dayCounter <= daysInMonth; i++) {
                const dayData = availability.find(d => d.date === moment({ year: year, month: month - 1, date: dayCounter }).format('YYYY-MM-DD')) || { status: 'past' };
                const canClick = dayData.status === 'available';
                calendarHTML += `<td class="day-cell status-${dayData.status} ${canClick ? 'js-calendar-select-date' : ''}" data-date="${dayData.date}" title="${dayData.status === 'available' ? 'Chọn ngày ' + dayCounter : (dayData.status === 'booked' ? 'Đã đặt' : 'Quá khứ')}">${dayCounter}</td>`;
                dayCounter++;
            }
             if (dayCounter > daysInMonth) {
                const remainingCells = 7 - ( (firstDayOfMonth + daysInMonth) % 7 );
                 if(remainingCells < 7) {
                     for (let i = 0; i < remainingCells; i++) { calendarHTML += `<td class="empty-cell"></td>`; }
                 }
             }
            calendarHTML += `</tr>`;
        }
        calendarHTML += `</tbody></table>`;
        container.innerHTML = calendarHTML;
        addCalendarDateClickListeners(); // Gắn lại listener cho các ô mới
    }

    // --- HÀM XỬ LÝ CLICK VÀO NGÀY TRỐNG TRÊN LỊCH ---
    function handleDateClick() {
        const selectedDate = this.dataset.date;
        const roomBtn = document.querySelector('.js-show-room-calendar-modal'); // Lấy nút mở lịch
        const roomNumber = roomBtn.dataset.roomNumber;
        const roomId = roomBtn.dataset.roomId;
        const roomPrice = parseFloat(roomBtn.dataset.roomPrice) || 0;

        const bookingModal = document.querySelector('.js-modal__booking'); // Lấy modal đặt phòng
        if (bookingModal) {
            bookingModal.querySelector('#checkInDate').value = selectedDate;
            const nextDay = moment(selectedDate).add(1, 'day').format('YYYY-MM-DD');
            bookingModal.querySelector('#checkOutDate').value = nextDay;
            bookingModal.querySelector('.modal__booking__title').textContent = `Phòng ${roomNumber}`; // Sửa lại title
            bookingModal.querySelector('#roomId').value = roomId;
            bookingModal.dataset.roomPrice = roomPrice; // Gán giá phòng vào modal
            
            // Đặt về giá trị đầu tiên (Choose... hoặc 1)
            bookingModal.querySelector('#modalNguoiLon').selectedIndex = 0;
            bookingModal.querySelector('#modalTreEm').selectedIndex = 0;
            
            bookingModal.querySelectorAll('.modal__booking__service__input').forEach(input => input.value = 0);
            
            setTimeout(() => { bookingModal.querySelector('.btn_tamtinh').click(); }, 100);

            bookingModal.classList.add('open');
            document.body.classList.add('no-scroll');
            $('#roomCalendarModal').modal('hide'); // Đóng modal lịch
        }
    }

    // --- HÀM GẮN EVENT LISTENER CHO Ô LỊCH ---
    function addCalendarDateClickListeners() {
        document.querySelectorAll('.js-calendar-select-date').forEach(cell => {
            cell.removeEventListener('click', handleDateClick);
            cell.addEventListener('click', handleDateClick);
        });
    }

    // --- LOGIC CHÍNH KHI TẢI TRANG (GỘP TẤT CẢ VÀO ĐÂY) ---
    document.addEventListener('DOMContentLoaded', function() {
        
        // === 1. XỬ LÝ MODAL LỊCH ===
        const showCalendarBtn = document.querySelector('.js-show-room-calendar-modal');
        const calendarModal = $('#roomCalendarModal');
        const calendarContainerId = 'room-calendar-container';
        const monthYearDisplay = calendarModal.find('.calendar-month-year');
        const prevMonthBtn = calendarModal.find('.js-prev-month');
        const nextMonthBtn = calendarModal.find('.js-next-month');

        let currentDisplayMonth;
        let currentRoomId;

        // Hàm gọi API và vẽ lịch
        async function loadAndRenderCalendar(roomId, monthMoment) {
            currentDisplayMonth = monthMoment.clone();
            currentRoomId = roomId;
            monthYearDisplay.text(monthMoment.format('MM/YYYY'));
            prevMonthBtn.data('month', monthMoment.clone().subtract(1, 'month').format('YYYY-MM'));
            nextMonthBtn.data('month', monthMoment.clone().add(1, 'month').format('YYYY-MM'));
            document.getElementById(calendarContainerId).innerHTML = '<p class="text-center">Đang tải lịch...</p>';
            try {
                // *** SỬA LẠI URL API ***
                const apiUrl = `/hangphong/api/rooms/${roomId}/availability?month=${monthMoment.format('YYYY-MM')}`;
                const response = await fetch(apiUrl);
                if (!response.ok) { throw new Error('Không thể tải dữ liệu lịch'); }
                const data = await response.json();
                renderRoomCalendar(calendarContainerId, monthMoment.year(), monthMoment.month() + 1, data.availability);
            } catch (error) {
                console.error(error);
                document.getElementById(calendarContainerId).innerHTML = '<p class="text-center text-danger">Lỗi tải lịch.</p>';
            }
        }

        // Gắn Event Listener cho nút "Xem Lịch & Đặt Phòng"
        if (showCalendarBtn) {
            showCalendarBtn.addEventListener('click', function() {
                const roomId = this.dataset.roomId;
                loadAndRenderCalendar(roomId, moment());
                calendarModal.modal('show');
            });
        }
        // Gắn Event Listener cho nút chuyển tháng
        prevMonthBtn.on('click', function() { loadAndRenderCalendar(currentRoomId, moment($(this).data('month'), 'YYYY-MM')); });
        nextMonthBtn.on('click', function() { loadAndRenderCalendar(currentRoomId, moment($(this).data('month'), 'YYYY-MM')); });


        // === 2. XỬ LÝ MODAL ĐẶT PHÒNG ===
        const modal = document.querySelector('.js-modal__booking');
        const modalClose = modal.querySelector('.modal__booking__close');
        const btnTinh = modal.querySelector('.btn_tamtinh');
        const inputServices = modal.querySelectorAll('.modal__booking__service__input');
        const btnDat = modal.querySelector('.modal__booking__btn');

        // Đóng modal
        modalClose.addEventListener('click', function() {
            modal.classList.remove('open');
            document.body.classList.remove('no-scroll');
        });

        // Nút "Tạm tính"
        btnTinh.addEventListener('click', function () {
            const checkIn = new Date(document.getElementById('checkInDate').value);
            const checkOut = new Date(document.getElementById('checkOutDate').value);
            let soNgay = Math.ceil((checkOut - checkIn) / (1000 * 60 * 60 * 24));
            if (isNaN(soNgay) || soNgay < 0) soNgay = 0;
            document.getElementById('soNgay').textContent = soNgay;

            const roomPrice = parseFloat(modal.dataset.roomPrice) || ROOM_PRICE_PER_NIGHT;
            const tienPhong = soNgay * roomPrice;
            document.getElementById('tienPhong').textContent = tienPhong.toLocaleString('vi-VN');

            let tienDichVu = 0;
            inputServices.forEach(input => {
                const sl = parseInt(input.value) || 0;
                const price = parseInt(input.getAttribute('data-price')) || 0;
                tienDichVu += sl * price;
            });
            document.getElementById('tienDichVu').textContent = tienDichVu.toLocaleString('vi-VN');

            const numNguoiLon = parseInt(document.getElementById('modalNguoiLon').value, 10) || 1;
            const numExtraAdults = Math.max(0, numNguoiLon - ROOM_TYPE_MAX_ADULTS);
            const tienPhuThu = numExtraAdults * SURCHARGE_PER_EXTRA_ADULT * soNgay;
            document.getElementById('tienPhuThu').textContent = tienPhuThu.toLocaleString('vi-VN');
            
            const tong = tienPhong + tienDichVu + tienPhuThu;
            document.getElementById('tongTien').textContent = tong.toLocaleString('vi-VN');
            const tienCoc = Math.round(tong / 2); // 50% cọc
            document.getElementById('tienCoc').textContent = tienCoc.toLocaleString('vi-VN');
            const customerPhone = document.getElementById('phone').value;
            const noiDungCK = `DP ${customerPhone || '[Số điện thoại]'}`;
            document.getElementById('noiDungCK').textContent = noiDungCK;
        });

        // Nút "ĐẶT PHÒNG NGAY"
        btnDat.addEventListener('click', () => {
            const checkInDate = new Date(document.getElementById('checkInDate').value);
            const checkOutDate = new Date(document.getElementById('checkOutDate').value);
            if (checkOutDate <= checkInDate) {
                alert('Ngày trả phòng phải sau ngày nhận phòng!');
                return;
            }
            
            const services = [];
            inputServices.forEach(input => {
                const quantity = parseInt(input.value, 10) || 0;
                if (quantity > 0) {
                    services.push({
                        id: input.name,
                        quantity: quantity,
                        price: parseInt(input.dataset.price)
                    });
                }
            });

            const nguoiLonValue = parseInt(document.getElementById('modalNguoiLon').value, 10);
            const treEmValue = parseInt(document.getElementById('modalTreEm').value, 10);
            
            const data = {
                roomId: document.getElementById('roomId').value,
                checkInDate: document.getElementById('checkInDate').value,
                checkOutDate: document.getElementById('checkOutDate').value,
                fullName: document.getElementById('fullName').value,
                phone: document.getElementById('phone').value,
                email: document.getElementById('email').value,
                nguoiLon: isNaN(nguoiLonValue) ? 1 : nguoiLonValue, // Mặc định 1 nếu NaN (chưa chọn)
                treEm: isNaN(treEmValue) ? 0 : treEmValue,       // Mặc định 0 nếu NaN (chưa chọn)
                services: services,
                source: 'website'
            };

            fetch('/datphong', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(data)
            })
            .then(res => {
                 if (!res.ok) {
                    return res.json().then(errData => { throw new Error(errData.message || 'Lỗi không xác định'); });
                }
                return res.json();
            })
            .then(res => {
                if (res.message === 'success') {
                    alert('Đặt phòng thành công! Vui lòng kiểm tra email xác nhận.');
                    window.location.reload();
                } else {
                    alert('Đặt phòng thất bại: ' + res.message);
                }
            })
            .catch(err => {
                console.error('Lỗi khi gửi booking:', err);
                alert('Đặt phòng thất bại: ' + err.message);
            });
        });
    });
</script>



