{{!-- Gioi thieu --}}
<div class="container">
  <div class="body">
    <div class="Bao">
    <div class="row introduce">
      <div class="col-6 ">
        <div class="introduce__title_mini">Giới thiệu</div>
        <div class="introduce__title">Chào Mừng đến với <br> Nhà Nghỉ An Bình</div>
        <div class="introduce__description">
          Tọa lạc tại "trái tim" của Phố Cổ Hà Nội, Nhà nghỉ An Bình ẩn mình trong
        ngõ Chân Cầm, phường Hàng Trống – một trong những con ngõ yên tĩnh và cổ
        kính bậc nhất thủ đô. Đây là điểm dừng chân lý tưởng ...
        </div>
        <a href="/gioi_thieu" type="button" class="btn btn-info introduce__btn">Xem thêm</a>
      </div>
      <div class="col-6">
        <div class="row">
           <div class="col-6 huy_pd ">
            <div class="row bo_goc mb-3 "><img class="introduce__img " src="/img/diadiem1.jpg" alt=""></div>
            <div class="row bo_goc "><img class="introduce__img" src="/img/diadiem4.jpg" alt=""></div>
          </div>
          <div class="col-6 huy_pd">
            <div class="row bo_goc_2 "><img class="introduce__img_2" src="/img/diadiem3.jpg" alt=""></div>
          </div>
        </div>    
      </div>
    </div>
  </div>
  
  {{!-- Phong nghi --}}
    <div class="Bao">
      <div class="PhongNghi">
        <div class="PhongNghi_gt">
          <div class="PhongNghi__tieude">Phòng Nghỉ</div>
          <div class="PhongNghi__mota">Thoải mái & tiện nghi</div>
        </div>
        <div class="PhongNghi__slide">       
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              {{#each rooms}}
                <div class="carousel-item {{#if @first}}active{{/if}}">
                  <div class="row">
                    <div class="col-6 text-center phongnghi-mt">
                      <div class="PhongNghi__title_mini">{{this.roomType.name}}</div>
                      <div class="PhongNghi__title">Phòng-{{this.roomNumber}}</div>
                      <div class="PhongNghi__title">{{{m2 this.area}}} - {{this.bedType.name}}</div>
                      <div class="PhongNghi__description">{{this.roomType.description}}</div>
                      <a href="/hangphong/room/{{this.roomNumber}}">
                        <button type="button" class="btn btn-info PhongNghi__btn">Chi tiết</button>
                      </a>
                    </div>
                    <div class="col-6">
                      <img src="{{this.img}}" class="d-block w-100 PhongNghi__img" alt="{{this.roomType.name}}">
                    </div>
                  </div>
                </div>
              {{/each}}
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                <span class="PhongNghi__slide__icon" aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                <span class="PhongNghi__slide__icon" aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                <span class="sr-only">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  
  {{!-- Dich vu --}}
    <div class="Bao">
      <div class="PhongNghi">
        <div class="PhongNghi_gt">
          <div class="PhongNghi__tieude">dịch vụ</div>
          <div class="PhongNghi__mota">dịch vụ của chúng tôi</div>
        </div>
          <div class="row mg-50">
            <div class="col-4">
              <a  class="home_gt_dichvu">
                <img class="home_gt_dichvu__img" src="/img/giatui.png" alt="" style="background: gray;">
                <p class="home_gt_dichvu__ten">Giặt ủi</p>
              </a>
            </div>
            <div class="col-4">
              <a  class="home_gt_dichvu">
                <img class="home_gt_dichvu__img" src="/img/xemay.jpg" alt="">
                <p class="home_gt_dichvu__ten">Cho thuê xe</p>
              </a>
            </div>
            <div class="col-4">
              <a  class="home_gt_dichvu">
                <img class="home_gt_dichvu__img" src="/img/dulich.jpg" alt="">
                <p class="home_gt_dichvu__ten">Tư vấn tham quan</p>
              </a>
            </div>
          </div>
      </div>
    </div>
  
  {{!-- Tin tuc --}}
    {{!-- <div class="Bao">
      <div class="PhongNghi">
        <div class="PhongNghi_gt">
          <div class="PhongNghi__tieude">tin tức</div>
          <div class="PhongNghi__mota">tin tức & sự kiện mới nhất</div>
        </div>
          <div class="row mg-50">
            <div class="col-4 ">
              <div class="home__gt__tintuc" >
                <img src="/img/tintuc1.jpg" class="home__gt__tintuc__img" alt="...">
                <div class="home__gt__tintuc__content">
                  <p class="home__gt__tintuc__time">30 / 5 / 2025 <span class="home__gt__tintuc__time_1">Sự kiện</span>  </p>
                  <p class="home__gt__tintuc__tieude">thức dậy cùng mây ngàn</p>
                  <p class="home__gt__tintuc__mota">Thức dậy tràn đầy năng lượng - mở cửa đón mây cùng người ấy.</p>
                  <p class="home__gt__tintuc__price">Chỉ với 1.200.000 vnđ / 2 người</p>
                  <a href="#" class="btn home__gt__tintuc__btn">Xem thêm <i class="fa-solid fa-arrow-right home__gt__tintuc__icon "></i></a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="home__gt__tintuc" >
                <img src="/img/tintuc1.jpg" class="home__gt__tintuc__img" alt="...">
                <div class="home__gt__tintuc__content">
                  <p class="home__gt__tintuc__time">30 / 5 / 2025 <span class="home__gt__tintuc__time_1">Sự kiện</span>  </p>
                  <p class="home__gt__tintuc__tieude">thức dậy cùng mây ngàn</p>
                  <p class="home__gt__tintuc__mota">Thức dậy tràn đầy năng lượng - mở cửa đón mây cùng người ấy.</p>
                  <p class="home__gt__tintuc__price">Chỉ với 1.200.000 vnđ / 2 người</p>
                  <a href="#" class="btn home__gt__tintuc__btn">Xem thêm <i class="fa-solid fa-arrow-right home__gt__tintuc__icon "></i></a>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="home__gt__tintuc" >
                <img src="/img/tintuc1.jpg" class="home__gt__tintuc__img" alt="...">
                <div class="home__gt__tintuc__content">
                  <p class="home__gt__tintuc__time">30 / 5 / 2025 <span class="home__gt__tintuc__time_1">Sự kiện</span>  </p>
                  <p class="home__gt__tintuc__tieude">thức dậy cùng mây ngàn</p>
                  <p class="home__gt__tintuc__mota">Thức dậy tràn đầy năng lượng - mở cửa đón mây cùng người ấy.</p>
                  <p class="home__gt__tintuc__price">Chỉ với 1.200.000 vnđ / 2 người</p>
                  <a href="#" class="btn home__gt__tintuc__btn">Xem thêm <i class="fa-solid fa-arrow-right home__gt__tintuc__icon "></i></a>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </div> --}}
  
  {{!-- Hinh anh gioi thieu --}}
    <div class="Bao">
      <div class="PhongNghi">
        <div class="PhongNghi_gt">
          <div class="PhongNghi__tieude">Hình ảnh</div>
          <div class="PhongNghi__mota">thư viện hình ảnh</div>
        </div>
        <div class="row thuvien mg-50">
          <div class="col-3 row_285" >
            <div class="row h-50"><img class="thuvien__img" src="/img/Thuvien/anh1.jpg" alt=""></div>
            <div class="row h-50"><img class="thuvien__img" src="/img/Thuvien/anh2.jpg" alt=""></div>
          </div>
         <div class="col-6 row_285">
          <div class="img3-wrapper">
            <img class="thuvien__img" src="/img/Thuvien/anh3.jpg" alt="">
          </div>
          <div class=" h-50 row ">
            <div class="col-6 " style="padding-right: 7.5px;">
              <img class="thuvien__img" src="/img/Thuvien/anh4.jpg" alt="">
            </div>
            <div class="col-6" style="padding-left: 7.5px;">
              <img class="thuvien__img" src="/img/Thuvien/anh5.jpg" alt="">
            </div>
          </div>
        </div>
          <div class="col-3" style="padding-left: 0;">
            <img class="thuvien__img" src="/img/Thuvien/anh6.jpg" alt="">
          </div>
          <button type="button" class="btn thuvien__btn">Xem thêm</button>
        </div>
        <div class="bao__thuvien__btn"></div>
  
      </div>
    </div>
  </div>
</div>